/*TOP*/
@media screen and (max-width: 1024px)
{
    .barre_header{
        margin-top: -35%;
        padding-bottom: 35%;
    }
}
@media screen and (max-width: 375px)
{
    .header{
        height: 400px;
    }
    .background_top{
        height: 400px;
    }
    .barre_header{
        margin-top: -35%;
        padding-bottom: 35%;
    }
    .nom_header{
        font-size: 40px;
    }
    .sous-titre_header{
        margin: -15% 0 35% 0;
    }
    .button1{
        padding: 0 15px 20px 15px;
    }
    .button2{
        padding: 0 10px 20px 10px;
    }

}