/*TOP*/
@media screen and (max-width: 1280px)
{
    .portrait{
        margin: -6% auto 0% auto;
    }
    .nom_header {
        font-size: 55px;
        margin: -1% 0 0% 0;
    }
}
@media screen and (max-width: 1024px)
{
    .barre_header{
        margin-top: -45%;
        padding-bottom: 45%;
    }
    .portrait{
        margin: -5% auto 0% auto;
    }
}
@media screen and (max-width: 414px)
{
    .header{
        height: 400px;
    }
    .background_top{
        height: 400px;
    }
    .barre_header{
        margin-top: -35%;
        padding-bottom: 35%;
    }
    .portrait{
        margin: 0% auto 0% auto;
    }
    .nom_header{
        font-size: 40px;
    }
    .sous-titre_header{
        margin: 0% 0 5% 0;
    }
    .button1{
        padding: 0 15px 20px 15px;
    }
    .button2{
        padding: 0 10px 20px 10px;
    }

}
/*COMPETENCES*/
@media screen and (max-width: 1440px)
{
    .competences{
        width: 90%;
        height: 90%;
        margin: 0 0% 10% 8%;
    }
}
@media screen and (max-width: 1024px)
{
    .logo{
        width: 60%;
    }
    .competences{
        margin: 0 0% 15% 8%;
    }
}
@media screen and (max-width: 834px)
{
    .logo{
        width: 55%;
    }
    .competences{
        margin: 0 0% 18% 0%;
    }
}
@media screen and (max-width: 414px)
{
    .ensemble_competences {
        grid-template-columns: 2fr 2fr;
        margin: 0% 2% 0 6%
    }
}
@media screen and (max-width: 375px)
{
    .ensemble_competences {
        margin: 0 1% 0 6%;
    }
}

/*DIPLOMES*/
@media screen and (max-width: 500px)
{
    .diplome{
        margin-bottom: 5%;
        padding: 1% 1% 1% 1%;
    }
    .date_diplome {
        font-size: 15px;
    }
    .nom_diplome {
        line-height: 30px;
    }
    .bac{
        margin-bottom: 0%;
    }
}

/*EXPERIENCE*/
@media screen and (max-width: 1024px)
{
    .role{
        font-size: 16px;
    }
    .periode{
        font-size: 14px;
    }
    .contenu_experience{
        font-size: 14px;
    }

    .conteneur_experience{
        grid-template-columns: 1fr 3fr 1fr;
    }
    .experience{
        grid-column: 2;
        height: 95%;
        width: 100%;
        padding-left: 0px;
        margin-bottom: 5%;
        text-align: center;
    }
    .pcworks{
        grid-row: 1;
    }
    .immo{
        grid-row: 2;
    }
    .interim{
        grid-row: 3;
    }
    .lasalette{
        grid-row: 4;
    }
    .mcdo{
        grid-row: 5;
        padding-bottom: 0%;
    }    
}

/*CONTACT*/

@media screen and (max-width: 1280px)
{
    .input_name_email{
        width: 35%;
        padding: 1% 0 1% 1.5%;
    }
    .input_message{
        height: 300px;
        width: 35%;
        padding: 2% 0 2% 1.5%;
    }
    .submit_button{
    font-size: 15px;
    width: 10%;
    }
}
@media screen and (max-width: 800px)
{
    .input_name_email{
        width: 50%;
    }
    .input_message{
        width: 50%;
    }
    .submit_button{
        width: 20%;
    }
}
@media screen and (max-width: 500px)
{
    .input_name_email{
        width: 70%;
    }
    .input_message{
        width: 70%;
        height: 200px;
    }
    .submit_button{
        width: 40%;
    }
}