/*FONTS*/
@font-face {
    font-family: 'unb_probold';
    src: url('fonts/unbbold/unb_pro_bold-webfont.eot');
    src: url('fonts/unbbold/unb_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/unbbold/unb_pro_bold-webfont.woff2') format('woff2'),
         url('fonts/unbbold/unb_pro_bold-webfont.woff') format('woff'),
         url('fonts/unbbold/unb_pro_bold-webfont.ttf') format('truetype'),
         url('fonts/unbbold/unb_pro_bold-webfont.svg#unb_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'unbpro_regular';
    src: url('fonts/unbpro_regular/unb_pro_regular-webfont.eot');
    src: url('fonts/unbpro_regular/unb_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/unbpro_regular/unb_pro_regular-webfont.woff2') format('woff2'),
         url('fonts/unbpro_regular/unb_pro_regular-webfont.woff') format('woff'),
         url('fonts/unbpro_regular/unb_pro_regular-webfont.ttf') format('truetype'),
         url('fonts/unbpro_regular/unb_pro_regular-webfont.svg#unb_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*VARIABLES*/
:root{
    --background: #e3f2f3;
    --light-background: #cccafa;
    --button-hover: #829bfa;
}

body{
    font-family: 'unbpro_regular';
}

.strong{
    font-weight: bold;
}
/*NAVBAR*/
.navbar{
    margin-bottom: 2%;
}
.titre_navbar{
    font-size: 25px;
    padding-left: 1%;
}
.elem_menu{
    text-decoration: none;
    color: black;
    padding-left: 1%;
}
/*TOP*/
.background_top{
    width: 100%;
}
.barre_header{
    background-color: white;
    opacity: 40%;
    margin-top: -25%;
    padding-bottom: 25%;
    position: relative;
    z-index: 1;

}
.contenu_barre_header{
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: -22%;
}
.nom_header{
    font-size: 55px;
    opacity: 100%;
    opacity: 100% !important;
    color: black !important;
}
.sous-titre_header{
    margin: -4% 0 5% 0;
}
.button_contact{
    margin: 0% 3% 0% 3%;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    height: 40px;
    width: 160px;
    font-size: 15px;
    padding: 0 15px 20px 15px;
}
.button1{
    background-color: white;
    border: 1px solid black;
    padding: 0 35px 20px 35px;
}
.button1:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
}
.button2{
    background-color: black;
    color: white;
}
.button2:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: 0.2s;
}
/*A PROPOS DE MOI*/
.a_propos{
    text-align: center;
    margin: 10% 5% 10% 5%;
}
.titre_a_propos{
    font-size: 35px;
}
/*COMPETENCES*/
.competences{
    background-color: var(--background)
}
.titre_competences{
    font-size: 35px;
    text-align: center;
}
/*DIPLOMES*/
.competences{
    background-color: var(--light-background)
}
.titre_diplomes{
    font-size: 35px;
    text-align: center;
}
.sous-titre_diplomes{
    text-align: center;
    margin: -3% 0 5% 0;
    font-size: 15px;
}
.diplomes{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
}
.adrar{
    grid-column: 2/3;
    grid-row: 1;
}
.bts{
    grid-column: 2/3;
    grid-row: 2;
}
.bac{
    grid-column: 2/3;
    grid-row: 3;
}