/*FONTS*/
@font-face {
    font-family: 'unb_probold';
    src: url('fonts/unbbold/unb_pro_bold-webfont.eot');
    src: url('fonts/unbbold/unb_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/unbbold/unb_pro_bold-webfont.woff2') format('woff2'),
         url('fonts/unbbold/unb_pro_bold-webfont.woff') format('woff'),
         url('fonts/unbbold/unb_pro_bold-webfont.ttf') format('truetype'),
         url('fonts/unbbold/unb_pro_bold-webfont.svg#unb_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'unbpro_regular';
    src: url('fonts/unbpro_regular/unb_pro_regular-webfont.eot');
    src: url('fonts/unbpro_regular/unb_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/unbpro_regular/unb_pro_regular-webfont.woff2') format('woff2'),
         url('fonts/unbpro_regular/unb_pro_regular-webfont.woff') format('woff'),
         url('fonts/unbpro_regular/unb_pro_regular-webfont.ttf') format('truetype'),
         url('fonts/unbpro_regular/unb_pro_regular-webfont.svg#unb_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*VARIABLES*/
:root{
    --color-text: #9292A8;
}

 